* {
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #012622;
}

.container {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.container h1 {
    font-weight: 25px;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0px;
}

.quiz h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 35px;
}

.btn {
    background: white;
    color: black;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #012622;
    color: white;
}

.btn:disabled {
    cursor: no-drop;
}

.next-btn {
    background: #012622;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: chartreuse;
}

.incorrect {
    background: red;
}